@import "./_mixins.scss";
@import "./_variable.scss";

#start-page {
  flex-direction: column;
  color: $primary-text-color;
  background: linear-gradient(
      94deg,
      rgba(#024b00, 0.4) 12%,
      rgba(#572001, 0.5) 37%,
      rgba(#000742, 0.5) 64%,
      rgba(#3e4200, 0.4) 90%
    ),
    url("../assets/homecover.jpeg");
  @include surface();
  @include fixed();
  header {
    background: $startpagebg;
    @include center();
    width: 100%;
    padding: 1rem 4rem;
    img {
      width: 100px;
    }
    h1 {
      font-size: 2rem;
      line-height: 2rem;
      font-family: Impact, Charcoal, sans-serif;
      text-align: end;
    }
  }
  main {
    @include full();
    @include center();
    flex-direction: column;
    h1 {
      @include button($startmainbtn, 1rem, 3rem);
      color: $primary-counter-text-color;
      margin: 0;
    }
    h3 {
      @include button($startsubbtn, 0.5rem, 1rem);
    }
  }
}

@media (min-width: 40em) {
  #start-page {
    background-size: cover;
  }
}
